extends ../partials/header
block main
  .container
    p(style='color: red;') The UNOFFICIAL staking site of Node101
    br
    p.choose(style='color: yellow; font-size: 26px;margin-left:220px;margin-bottom:5px') choose network
    .buttonStyle
      button#mainnet.button.connectStyle Mainnet
      //- button#testnet.button.connectStyle Testnet
      .tokenWrapper
        img#tokenImg(src='' width='60px' height='60px')
        span#tokenName
    .mainStyle
      .eachRow
        p#walletchain Chain 
        p#walletchainValue CX
      .eachRow
        p#walletAdd Address
        p#walletAddValue X
      .eachRow
        p#walletToken Token
        p#walletTokenValue X
      .eachRow
        p#walletBal Balance
        p#walletBalValue X
      input#amount.inputStyle(type='text' value=test) 
    .buttonStyle
      button#connect.button.connectStyle Connect
      button#stake.button.connectStyle Stake
  #tokenModal.modal
    .modal-content
      span.close &times;
      h2 Choose Token
      .token-list
