extends ../partials/head
block main
  .all-wrapper
    .sidebar
      .sidebar-logo
        svg(width='35' height='21' viewbox='0 0 35 21' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M0.273107 20.2568H4.50079C4.65009 20.2568 4.7739 20.113 4.7739 19.9369V0.319882C4.7739 0.143767 4.65009 0 4.50079 0H0.273107C0.123808 0 0 0.143767 0 0.319882V19.9369C0 20.113 0.123808 20.2568 0.273107 20.2568Z' fill='#2C202A')
          path(d='M29.6051 20.2568H33.8328C33.9821 20.2568 34.1059 20.113 34.1059 19.9369V0.319882C34.1059 0.143767 33.9821 0 33.8328 0H29.6051C29.4558 0 29.332 0.143767 29.332 0.319882V19.9369C29.332 20.113 29.4558 20.2568 29.6051 20.2568Z' fill='#2C202A')
          path(d='M15.2692 4.26747C14.9958 2.9351 14.726 1.61354 14.4525 0.277573C15.1721 0.0975239 15.8736 0.00389821 16.586 0.000297223C19.2843 -0.0177077 21.7164 0.781712 23.7599 2.5606C25.5696 4.13783 26.6453 6.15799 26.9943 8.54184C27.3181 10.7565 27.0051 12.8774 25.9509 14.858C24.4291 17.71 22.0761 19.4961 18.9137 20.1622C16.7299 20.6232 14.6 20.3711 12.5853 19.4096C10.0669 18.2069 8.23925 16.3164 7.32902 13.6625C6.04823 9.92102 8.51627 5.8447 12.4198 5.18572C14.395 4.85083 16.1903 5.28295 17.7157 6.61531C18.9353 7.68121 19.7772 8.98477 20.083 10.6052C20.1909 11.1886 20.2017 11.7719 20.1442 12.3625C20.1298 12.5173 20.0506 12.5497 19.9175 12.5641C18.7626 12.6902 17.6114 12.8198 16.4565 12.9495C16.1974 12.9783 15.942 13.0071 15.6794 13.0359C15.7765 12.755 15.8916 12.4993 15.9492 12.2329C16.1903 11.167 15.7046 10.1839 14.708 9.60054C13.6323 8.97396 12.6069 9.28005 11.9485 9.87781C11.1534 10.6016 10.9483 11.7323 11.4124 12.7082C12.4882 14.9588 14.7404 16.3056 17.2336 16.1831C19.9859 16.0499 22.3892 13.9325 22.8425 11.2138C23.1771 9.20082 22.6554 7.42914 21.2631 5.93473C20.3852 4.99127 19.3419 4.31788 18.0395 4.11983C17.158 3.98659 16.291 4.06221 15.4239 4.24226C15.3772 4.25307 15.3304 4.25667 15.2692 4.26747Z' fill='#2C202A')
      .sidebar-menu
        .sidebar-menu-title
          .sidebar-menu-item
            | Menu
          .sidebar-menu-item
            svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M23.1412 11.8969C23.1429 11.659 23.0949 11.4233 23.0004 11.2049C22.906 10.9865 22.7671 10.7902 22.5926 10.6284L11.9984 0.856934L1.40408 10.6284C1.22961 10.7902 1.09073 10.9865 0.996285 11.2049C0.90184 11.4233 0.853898 11.659 0.855508 11.8969V21.4284C0.855508 21.883 1.03612 22.3191 1.35761 22.6405C1.6791 22.962 2.11514 23.1426 2.56979 23.1426H21.4269C21.8815 23.1426 22.3176 22.962 22.6391 22.6405C22.9607 22.3191 23.1412 21.883 23.1412 21.4284V11.8969Z' stroke='#616079' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
              path(d='M12 23.1428V16.2856' stroke='#616079' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
          .sidebar-menu-item
            svg(width='27.86' height='25.71' viewbox='0 0 30 28' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M24.6417 6.57129H5.35603C2.98909 6.57129 1.07031 8.49007 1.07031 10.857V22.6427C1.07031 25.0097 2.98909 26.9284 5.35603 26.9284H24.6417C27.0087 26.9284 28.9275 25.0097 28.9275 22.6427V10.857C28.9275 8.49007 27.0087 6.57129 24.6417 6.57129Z' stroke='#616079' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
              path(d='M8.57031 26.9284V6.57129' stroke='#616079' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
              path(d='M21.4258 26.9284V6.57129' stroke='#616079' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
              path(d='M9.64062 6.5715C9.64062 5.1507 10.205 3.78808 11.2097 2.78342C12.2143 1.77876 13.577 1.21436 14.9978 1.21436C16.4186 1.21436 17.7812 1.77876 18.7858 2.78342C19.7905 3.78808 20.3549 5.1507 20.3549 6.5715' stroke='#616079' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
          .sidebar-menu-item
            svg(width='27.86' height='27.86' viewbox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M9.59888 1.92871C8.02684 2.57453 6.68228 3.6731 5.73604 5.08484C4.78978 6.49658 4.28458 8.15776 4.2846 9.85728V17.3573C4.2846 18.2098 3.94594 19.0273 3.34316 19.6301C2.74037 20.2329 1.92279 20.5715 1.07031 20.5715H24.6417C23.7893 20.5715 22.9716 20.2329 22.3688 19.6301C21.766 19.0273 21.4275 18.2098 21.4275 17.3573V9.85728C21.4275 8.15776 20.9223 6.49658 19.9761 5.08484C19.0298 3.6731 17.6853 2.57453 16.1132 1.92871C14.5411 1.28289 12.7757 1.15154 11.0491 1.54889C9.32244 1.94623 7.73584 2.85674 6.48224 4.13288' stroke='#616079' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
              path(d='M10.7148 25.5282H15.9006' stroke='#616079' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
          .sidebar-menu-item
            svg(width='25.58' height='27.86' viewbox='0 0 28 30' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M10.2065 4.82129L11.1279 2.44272C11.2833 2.04 11.5568 1.6936 11.9123 1.44889C12.2679 1.20418 12.6891 1.07256 13.1208 1.07129H14.8779C15.3096 1.07256 15.7308 1.20418 16.0864 1.44889C16.442 1.6936 16.7154 2.04 16.8708 2.44272L17.7922 4.82129L20.9207 6.62129L23.4493 6.23557C23.8704 6.17842 24.2989 6.24772 24.6806 6.43469C25.062 6.62165 25.3794 6.91782 25.5921 7.28557L26.4493 8.78557C26.6689 9.15918 26.7703 9.5906 26.7396 10.0229C26.709 10.4552 26.5481 10.8681 26.2779 11.207L24.7136 13.1999V16.7999L26.3207 18.7927C26.5909 19.1317 26.7519 19.5445 26.7825 19.9768C26.8131 20.4091 26.7118 20.8405 26.4921 21.2141L25.635 22.7141C25.4222 23.0819 25.1049 23.378 24.7234 23.5651C24.3418 23.7519 23.9132 23.8214 23.4921 23.7641L20.9636 23.3784L17.8351 25.1784L16.9137 27.557C16.7583 27.9596 16.4849 28.3061 16.1293 28.5509C15.7737 28.7956 15.3525 28.9271 14.9208 28.9284H13.1208C12.6891 28.9271 12.2679 28.7956 11.9123 28.5509C11.5568 28.3061 11.2833 27.9596 11.1279 27.557L10.2065 25.1784L7.07794 23.3784L4.54937 23.7641C4.12834 23.8214 3.69982 23.7519 3.31826 23.5651C2.93672 23.378 2.61937 23.0819 2.40652 22.7141L1.54937 21.2141C1.32973 20.8405 1.22854 20.4091 1.25914 19.9768C1.28974 19.5445 1.45072 19.1317 1.7208 18.7927L3.28509 16.7999V13.1999L1.67794 11.207C1.40786 10.8681 1.24689 10.4552 1.21629 10.0229C1.18569 9.5906 1.28687 9.15918 1.50652 8.78557L2.36366 7.28557C2.57651 6.91782 2.89387 6.62165 3.2754 6.43469C3.65696 6.24772 4.08549 6.17842 4.50652 6.23557L7.03509 6.62129L10.2065 4.82129ZM9.71366 14.9999C9.71366 15.8475 9.96502 16.6761 10.4359 17.3809C10.9069 18.0857 11.5762 18.635 12.3593 18.9593C13.1424 19.2837 14.0041 19.3686 14.8355 19.2032C15.6668 19.0379 16.4305 18.6297 17.0298 18.0303C17.6292 17.431 18.0374 16.6673 18.2027 15.836C18.3681 15.0046 18.2832 14.1429 17.9589 13.3598C17.6345 12.5767 17.0852 11.9073 16.3804 11.4364C15.6756 10.9655 14.847 10.7141 13.9994 10.7141C12.8627 10.7141 11.7726 11.1657 10.9689 11.9694C10.1652 12.7731 9.71366 13.8632 9.71366 14.9999Z' stroke='#616079' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
      .sidebar-footer
        .sidebar-footer-item
          svg(width='22' height='20' viewbox='0 0 22 20' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M17.2729 0H20.6185L13.3094 8.47179L21.908 20H15.1754L9.90211 13.0082L3.8683 20H0.520685L8.33854 10.9385L0.0898438 0H6.99342L11.76 6.39077L17.2729 0ZM16.0987 17.9692H17.9526L5.9861 1.9241H3.99675L16.0987 17.9692Z' fill='#9191AF')
        .sidebar-footer-item
          svg(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10ZM10.3584 7.38244C9.38571 7.787 7.44178 8.62433 4.52658 9.89443C4.05319 10.0827 3.80521 10.2668 3.78264 10.4469C3.74449 10.7512 4.12559 10.8711 4.64456 11.0343C4.71515 11.0565 4.78829 11.0795 4.86328 11.1038C5.37386 11.2698 6.06069 11.464 6.41774 11.4717C6.74162 11.4787 7.10311 11.3452 7.5022 11.0711C10.226 9.2325 11.632 8.30317 11.7203 8.28314C11.7825 8.26901 11.8688 8.25123 11.9273 8.3032C11.9858 8.35518 11.98 8.4536 11.9738 8.48C11.9361 8.64095 10.4401 10.0317 9.66593 10.7515C9.42459 10.9759 9.25339 11.135 9.2184 11.1714C9.14 11.2528 9.06011 11.3298 8.98332 11.4038C8.50897 11.8611 8.15326 12.204 9.00301 12.764C9.41137 13.0331 9.73814 13.2556 10.0641 13.4776C10.4201 13.7201 10.7752 13.9619 11.2347 14.2631C11.3517 14.3398 11.4635 14.4195 11.5724 14.4971C11.9867 14.7925 12.359 15.0578 12.8188 15.0155C13.086 14.9909 13.3621 14.7397 13.5022 13.9903C13.8335 12.2193 14.4847 8.38205 14.6352 6.80081C14.6484 6.66227 14.6318 6.48498 14.6185 6.40715C14.6051 6.32931 14.5773 6.21842 14.4761 6.13633C14.3563 6.03911 14.1714 6.01861 14.0886 6.02007C13.7125 6.0267 13.1355 6.22735 10.3584 7.38244Z' fill='#9191AF')
        .sidebar-footer-item
          svg(width='22' height='20' viewbox='0 0 22 20' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M11.0102 0C5.25448 0 0.601562 4.58331 0.601562 10.2535C0.601562 14.786 3.58285 18.6226 7.71868 19.9805C8.23576 20.0826 8.42517 19.7599 8.42517 19.4885C8.42517 19.2508 8.40812 18.436 8.40812 17.587C5.5127 18.1983 4.90975 16.3647 4.90975 16.3647C4.44444 15.1764 3.75499 14.871 3.75499 14.871C2.80732 14.2429 3.82402 14.2429 3.82402 14.2429C4.87524 14.3108 5.42684 15.2954 5.42684 15.2954C6.35725 16.857 7.85652 16.4158 8.45968 16.1441C8.54576 15.482 8.82166 15.0237 9.11461 14.7691C6.80531 14.5314 4.37562 13.6487 4.37562 9.71017C4.37562 8.58976 4.78895 7.67309 5.44388 6.96018C5.34055 6.7056 4.97857 5.65289 5.54743 4.24394C5.54743 4.24394 6.42628 3.97228 8.40791 5.29644C9.25632 5.07199 10.1313 4.95782 11.0102 4.95685C11.889 4.95685 12.7849 5.07581 13.6122 5.29644C15.5941 3.97228 16.4729 4.24394 16.4729 4.24394C17.0418 5.65289 16.6796 6.7056 16.5762 6.96018C17.2484 7.67309 17.6447 8.58976 17.6447 9.71017C17.6447 13.6487 15.215 14.5143 12.8885 14.7691C13.2677 15.0916 13.595 15.7026 13.595 16.6703C13.595 18.0453 13.5779 19.1489 13.5779 19.4883C13.5779 19.7599 13.7675 20.0826 14.2844 19.9808C18.4202 18.6224 21.4015 14.786 21.4015 10.2535C21.4186 4.58331 16.7486 0 11.0102 0Z' fill='#9191AF')
    .content
      .content-header
        .content-header-icon
        .content-header-title
          | Sign in / Connect wallet
      .content-wrapper
        .content-wrapper-stake
          .content-wrapper-stake-body-main
            .content-wrapper-stake-body-main-title
              .content-wrapper-stake-body-main-title-each
                .content-wrapper-stake-body-main-title-each-icon
                .content-wrapper-stake-body-main-title-each-token
                  | TIA
                .content-wrapper-stake-body-main-title-each-price
                  | $9.32
                .content-wrapper-stake-body-main-title-each-arrow
                  svg(width='18' height='16' viewbox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M9.33975 15.1099C9.1473 15.4432 8.66617 15.4432 8.47372 15.1099L0.54807 1.38223C0.309402 0.968841 0.730422 0.488006 1.1717 0.669988L7.00051 3.07375C8.22145 3.57726 9.59202 3.57726 10.813 3.07375L16.6418 0.66999C17.083 0.488008 17.5041 0.968843 17.2654 1.38223L9.33975 15.1099Z' fill='#FF0000')
                .content-wrapper-stake-body-main-title-each-change
                  | -0.32%
              .content-wrapper-stake-body-main-title-each
                .content-wrapper-stake-body-main-title-each-icon
                .content-wrapper-stake-body-main-title-each-token
                  | TIA
                .content-wrapper-stake-body-main-title-each-price
                  | $9.32
                .content-wrapper-stake-body-main-title-each-arrow
                  svg(width='18' height='16' viewbox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M9.33975 15.1099C9.1473 15.4432 8.66617 15.4432 8.47372 15.1099L0.54807 1.38223C0.309402 0.968841 0.730422 0.488006 1.1717 0.669988L7.00051 3.07375C8.22145 3.57726 9.59202 3.57726 10.813 3.07375L16.6418 0.66999C17.083 0.488008 17.5041 0.968843 17.2654 1.38223L9.33975 15.1099Z' fill='#FF0000')
                .content-wrapper-stake-body-main-title-each-change
                  | -0.32%
              .content-wrapper-stake-body-main-title-each
                .content-wrapper-stake-body-main-title-each-icon
                .content-wrapper-stake-body-main-title-each-token
                  | TIA
                .content-wrapper-stake-body-main-title-each-price
                  | $9.32
                .content-wrapper-stake-body-main-title-each-arrow
                  svg(width='18' height='16' viewbox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M9.33975 15.1099C9.1473 15.4432 8.66617 15.4432 8.47372 15.1099L0.54807 1.38223C0.309402 0.968841 0.730422 0.488006 1.1717 0.669988L7.00051 3.07375C8.22145 3.57726 9.59202 3.57726 10.813 3.07375L16.6418 0.66999C17.083 0.488008 17.5041 0.968843 17.2654 1.38223L9.33975 15.1099Z' fill='#FF0000')
                .content-wrapper-stake-body-main-title-each-change
                  | -0.32%
            .content-wrapper-stake-body-main-center
              .content-wrapper-stake-body-main-center-title
                .content-wrapper-stake-body-main-center-title-each
                  | Available - 0 Atom
                .content-wrapper-stake-body-main-center-title-each
                  | Half | Max
              .content-wrapper-stake-body-main-center-body
                .content-wrapper-stake-body-main-center-body-icon
                .content-wrapper-stake-body-main-center-body-chain
                  .content-wrapper-stake-body-main-center-body-chain-name
                    .content-wrapper-stake-body-main-center-body-chain-name-network
                      | Cosmos Hub
                    .content-wrapper-stake-body-main-center-body-chain-name-icon
                      svg(width='19' height='21' viewbox='0 0 19 21' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M9.5 12.9671L2.69485 6.35098C2.19275 5.86283 1.37868 5.86283 0.876577 6.35098C0.374474 6.83914 0.374474 7.63059 0.876577 8.11875L8.59086 15.6187C9.09297 16.1069 9.90703 16.1069 10.4091 15.6187L18.1234 8.11875C18.6255 7.63059 18.6255 6.83914 18.1234 6.35098C17.6213 5.86282 16.8073 5.86282 16.3051 6.35098L9.5 12.9671Z' fill='#2C202A')
                  .content-wrapper-stake-body-main-center-body-chain-token
                    | Atom
                .content-wrapper-stake-body-main-center-body-stake
                  .content-wrapper-stake-body-main-center-body-stake-amount
                    | 100
                  .content-wrapper-stake-body-main-center-body-stake-dollar
                    | $122,25
            .content-wrapper-stake-body-main-content
              .content-wrapper-stake-body-main-content-stat-title
                .content-wrapper-stake-body-main-content-stat-title-auto-rewards
                  | Rewards
                .content-wrapper-stake-body-main-content-stat-title-buttons
                  | Auto Stake
                  .content-wrapper-stake-body-main-content-stat-title-buttons-icon
                    .content-wrapper-stake-body-main-content-stat-title-buttons-icon-ball
              .content-wrapper-stake-body-main-content-stat-title-content
                .content-wrapper-stake-body-main-content-stat-title-content-each
                  .content-wrapper-stake-body-main-content-stat-title-content-each-time
                    .content-wrapper-stake-body-main-content-stat-title-content-each-time-text
                      | Daily
                    .content-wrapper-stake-body-main-content-stat-title-content-each-time-percent
                      | +0.2%
                  .content-wrapper-stake-body-main-content-stat-title-content-each-value
                    .content-wrapper-stake-body-main-content-stat-title-content-each-value-token
                      | 1,24 Atom
                    .content-wrapper-stake-body-main-content-stat-title-content-each-value-price
                      | $14,5
                .content-wrapper-stake-body-main-content-stat-title-content-each
                  .content-wrapper-stake-body-main-content-stat-title-content-each-time
                    .content-wrapper-stake-body-main-content-stat-title-content-each-time-text
                      | Daily
                    .content-wrapper-stake-body-main-content-stat-title-content-each-time-percent
                      | +0.2%
                  .content-wrapper-stake-body-main-content-stat-title-content-each-value
                    .content-wrapper-stake-body-main-content-stat-title-content-each-value-token
                      | 1,24 Atom
                    .content-wrapper-stake-body-main-content-stat-title-content-each-value-price
                      | $14,5
                .content-wrapper-stake-body-main-content-stat-title-content-each
                  .content-wrapper-stake-body-main-content-stat-title-content-each-time
                    .content-wrapper-stake-body-main-content-stat-title-content-each-time-text
                      | Daily
                    .content-wrapper-stake-body-main-content-stat-title-content-each-time-percent
                      | +0.2%
                  .content-wrapper-stake-body-main-content-stat-title-content-each-value
                    .content-wrapper-stake-body-main-content-stat-title-content-each-value-token
                      | 1,24 Atom
                    .content-wrapper-stake-body-main-content-stat-title-content-each-value-price
                      | $14,5
          .content-wrapper-stake-body-button
              .content-wrapper-stake-body-button-text
                | Stake
              .content-wrapper-stake-body-button-text
                svg(width='15' height='15' viewbox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M7.37915 14.1929C7.39181 14.2059 7.77975 14.3055 8.24116 14.4141C8.70264 14.5227 9.08519 14.5949 9.09134 14.5747C9.09743 14.5545 9.14518 14.2266 9.19739 13.8459C9.30227 13.0816 9.55621 12.1891 9.82755 11.6309C10.6733 9.89144 12.1908 8.73965 14.0313 8.44028L14.5 8.36403V7.5956V6.82712L14.0752 6.75414C11.2921 6.27605 9.4777 4.14531 9.13827 0.956645C9.11612 0.748428 9.08964 0.578125 9.07944 0.578125C8.98558 0.578125 7.4303 0.961912 7.40089 0.992315C7.37962 1.0143 7.39544 1.2095 7.4361 1.42601C7.88615 3.82353 9.17477 5.77446 10.847 6.59019L11.2481 6.78587L2.99949 6.80119L0.5 6.81092L0.5 8.36611L3.01291 8.37584L11.2421 8.39123L10.7357 8.65395C9.42192 9.33547 8.38179 10.6723 7.76926 12.4668C7.59471 12.978 7.33134 14.1435 7.37915 14.1929Z' fill='#F5F5F5')
        .content-wrapper-info
          .content-wrapper-info-body
            .content-wrapper-info-body-spiral
              svg(width='510' height='510' viewbox='0 0 456 456' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M-69.2177 132.034C-63.4745 121.262 -58.235 110.197 -51.9447 99.7189C-16.5809 40.917 33.3308 -0.572798 97.422 -25.1205C128.041 -36.808 159.69 -43.3055 192.407 -43.7851C238 -44.4347 281.75 -36.246 322.634 -15.2842C382.444 15.3491 425.744 61.5291 451.557 123.587C467.481 161.796 473.71 201.455 470.824 243.035C467.97 284.095 456.57 322.026 435.271 356.92C406.391 404.212 365.422 437.341 314.048 457.928C275.013 473.621 234.486 478.143 193.046 472.702C152.383 467.352 115.781 451.736 83.5318 426.043C54.0192 402.517 31.5731 373.599 16.7342 338.976C-4.8016 288.737 -9.09422 237.291 9.03985 185.171C31.9276 119.264 77.1962 74.7968 143.872 55.6208C219.044 33.9655 286.066 51.1349 337.949 111.222C379.886 159.795 392.238 216.643 371.986 278.54C352.908 336.859 297.732 379.852 236.917 383.483C181.599 386.798 137.756 365.177 107.816 318.031C78.5055 271.966 83.5472 211.444 119.855 172.774C142.17 149.022 169.924 136.551 202.887 137.737C253.111 139.543 289.372 178.559 291.118 222.593C292.589 260.441 262.999 298.001 219.13 294.628C190.011 292.416 167.865 264.994 178.56 233.624C182.694 221.45 193.844 212.528 206.065 211.71C220.294 210.753 230.487 216.807 236.812 229.967C236.967 230.281 237.303 230.475 238.945 232.053C238.87 226.878 239.413 222.957 238.682 219.262C234.748 199.687 215.796 186.885 195.639 188.827C159.351 192.26 135.283 226.942 141.91 264.366C149.745 308.338 191.364 337.904 237.356 332.152C290.529 325.534 330.675 278.104 329.636 223.206C328.359 157.953 274.902 102.289 209.676 98.4384C158.05 95.3741 115.762 115.213 84.0913 154.818C43.2005 205.896 39.3493 262.581 65.875 321.511C84.0239 361.724 113.699 391.126 154.124 408.931C198.656 428.508 244.265 429.033 289.618 412.379C339.859 393.981 377.872 360.846 401.127 312.428C425.925 260.802 428.062 207.272 408.161 153.743C381.921 83.0125 332.268 35.5322 259.493 15.0569C191.719 -4.02683 127.995 8.81182 69.1762 46.673C29.3601 72.3114 -0.475346 106.771 -19.9811 150.03C-26.5172 164.534 -36.9568 171.066 -49.8587 168.802C-60.0076 167.009 -66.2096 160.374 -70.3581 151.43C-69.9618 144.937 -69.5681 138.487 -69.1717 131.994L-69.2177 132.034Z' fill='#DAE0FF')
            .content-wrapper-info-body-larrow
              svg(width='28' height='28' viewbox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M12.1486 14.0002L18.3237 7.82512C18.7793 7.36951 18.7793 6.63082 18.3237 6.1752C17.868 5.71959 17.1294 5.71959 16.6737 6.1752L9.67374 13.1752C9.21813 13.6308 9.21813 14.3695 9.67374 14.8251L16.6737 21.8251C17.1294 22.2807 17.868 22.2807 18.3237 21.8251C18.7793 21.3695 18.7793 20.6308 18.3237 20.1752L12.1486 14.0002Z' fill='#9695DF')
            .content-wrapper-info-body-content
              .content-wrapper-info-body-content-title
                | Why you should stake with node101 ?
              .content-wrapper-info-body-content-text
                | Stake your assets with node; monitor assest performance in
                | your portfolio, auto-stake your assets without fees, and control
                | your assets on our mobile app
            .content-wrapper-info-body-rarrow
              svg(width='10' height='18' viewbox='0 0 10 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M2.32366 1.1752C1.86804 0.719593 1.12935 0.719593 0.67374 1.1752C0.218128 1.63082 0.218128 2.36951 0.67374 2.82512L6.84878 9.00016L0.67374 15.1752C0.218128 15.6308 0.218128 16.3695 0.67374 16.8251C1.12935 17.2807 1.86804 17.2807 2.32366 16.8251L9.32366 9.82512C9.77927 9.36951 9.77927 8.63082 9.32366 8.1752L2.32366 1.1752Z' fill='#9695DF')
          .content-wrapper-info-footer
            .content-wrapper-info-footer-each
            .content-wrapper-info-footer-each
            .content-wrapper-info-footer-each
            .content-wrapper-info-footer-each
