extends ../partials/head
block main
  .all-wrapper
    input#chainInfoElement(style='display: none;', value=chainInfo)
    include ../partials/sidebar.pug
    .content
      include ../partials/header.pug
      .content-wrapper 
        include ../partials/stake.pug 
        .content-wrapper-info
          .content-wrapper-info-body
            .content-wrapper-info-body-spiral
              svg(width='510' height='510' viewbox='0 0 456 456' fill='red' xmlns='http://www.w3.org/2000/svg')
                path(d='M-69.2177 132.034C-63.4745 121.262 -58.235 110.197 -51.9447 99.7189C-16.5809 40.917 33.3308 -0.572798 97.422 -25.1205C128.041 -36.808 159.69 -43.3055 192.407 -43.7851C238 -44.4347 281.75 -36.246 322.634 -15.2842C382.444 15.3491 425.744 61.5291 451.557 123.587C467.481 161.796 473.71 201.455 470.824 243.035C467.97 284.095 456.57 322.026 435.271 356.92C406.391 404.212 365.422 437.341 314.048 457.928C275.013 473.621 234.486 478.143 193.046 472.702C152.383 467.352 115.781 451.736 83.5318 426.043C54.0192 402.517 31.5731 373.599 16.7342 338.976C-4.8016 288.737 -9.09422 237.291 9.03985 185.171C31.9276 119.264 77.1962 74.7968 143.872 55.6208C219.044 33.9655 286.066 51.1349 337.949 111.222C379.886 159.795 392.238 216.643 371.986 278.54C352.908 336.859 297.732 379.852 236.917 383.483C181.599 386.798 137.756 365.177 107.816 318.031C78.5055 271.966 83.5472 211.444 119.855 172.774C142.17 149.022 169.924 136.551 202.887 137.737C253.111 139.543 289.372 178.559 291.118 222.593C292.589 260.441 262.999 298.001 219.13 294.628C190.011 292.416 167.865 264.994 178.56 233.624C182.694 221.45 193.844 212.528 206.065 211.71C220.294 210.753 230.487 216.807 236.812 229.967C236.967 230.281 237.303 230.475 238.945 232.053C238.87 226.878 239.413 222.957 238.682 219.262C234.748 199.687 215.796 186.885 195.639 188.827C159.351 192.26 135.283 226.942 141.91 264.366C149.745 308.338 191.364 337.904 237.356 332.152C290.529 325.534 330.675 278.104 329.636 223.206C328.359 157.953 274.902 102.289 209.676 98.4384C158.05 95.3741 115.762 115.213 84.0913 154.818C43.2005 205.896 39.3493 262.581 65.875 321.511C84.0239 361.724 113.699 391.126 154.124 408.931C198.656 428.508 244.265 429.033 289.618 412.379C339.859 393.981 377.872 360.846 401.127 312.428C425.925 260.802 428.062 207.272 408.161 153.743C381.921 83.0125 332.268 35.5322 259.493 15.0569C191.719 -4.02683 127.995 8.81182 69.1762 46.673C29.3601 72.3114 -0.475346 106.771 -19.9811 150.03C-26.5172 164.534 -36.9568 171.066 -49.8587 168.802C-60.0076 167.009 -66.2096 160.374 -70.3581 151.43C-69.9618 144.937 -69.5681 138.487 -69.1717 131.994L-69.2177 132.034Z' fill='#DAE0FF')
            .content-wrapper-info-body-larrow
              svg(width='28' height='28' viewbox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M12.1486 14.0002L18.3237 7.82512C18.7793 7.36951 18.7793 6.63082 18.3237 6.1752C17.868 5.71959 17.1294 5.71959 16.6737 6.1752L9.67374 13.1752C9.21813 13.6308 9.21813 14.3695 9.67374 14.8251L16.6737 21.8251C17.1294 22.2807 17.868 22.2807 18.3237 21.8251C18.7793 21.3695 18.7793 20.6308 18.3237 20.1752L12.1486 14.0002Z' fill='#9695DF')
            .content-wrapper-info-body-wrapper
              .content-wrapper-info-body-content.one
                .content-wrapper-info-body-content-title
                  | 1Why you should stake with node101 ?
                .content-wrapper-info-body-content-text
                  | Stake your assets with node; monitor assest performance in
                  | your portfolio, auto-stake your assets without fees, and control
                  | your assets on our mobile app

              .content-wrapper-info-body-content.two
                .content-wrapper-info-body-content-title
                  | 2what is happening to the ecosystem ?
                .content-wrapper-info-body-content-text
                  | hello we are a team dedicated blah blak sfdsdsfse
                  | what is happening here  our mobile app
                  | you know ho you are dfgs  our mobile app

              .content-wrapper-info-body-content.three
                .content-wrapper-info-body-content-title
                  | 3Why you should stake with node101 ?
                .content-wrapper-info-body-content-text
                  | Stake your assets with node; monitor assest performance in
                  | your portfolio, auto-stake your assets without fees, and control
                  | your assets on our mobile app

              .content-wrapper-info-body-content

                .content-wrapper-info-body-content-title
                  | 4Why you should stake with node101 ?
                .content-wrapper-info-body-content-text
                  | Stake your assets with node; monitor assest performance in
                  | your portfolio, auto-stake your assets without fees, and control
                  | your assets on our mobile app 
                  

            .content-wrapper-info-body-rarrow
              svg(width='18' height='18' viewbox='0 0 10 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M2.32366 1.1752C1.86804 0.719593 1.12935 0.719593 0.67374 1.1752C0.218128 1.63082 0.218128 2.36951 0.67374 2.82512L6.84878 9.00016L0.67374 15.1752C0.218128 15.6308 0.218128 16.3695 0.67374 16.8251C1.12935 17.2807 1.86804 17.2807 2.32366 16.8251L9.32366 9.82512C9.77927 9.36951 9.77927 8.63082 9.32366 8.1752L2.32366 1.1752Z' fill='#9695DF')
          
          .content-wrapper-info-footer
            .content-wrapper-info-footer-each
            .content-wrapper-info-footer-each
            .content-wrapper-info-footer-each
            .content-wrapper-info-footer-each

