extends ../partials/head
block main
  .all-wrapper
    include ../partials/sidebar.pug
    .content
      .content-header
        .content-header-icon
        .content-header-title
          | Sign in / Connect wallet
      .content-wrapper
        .content-wrapper-title
          | Notifications
        .content-wrapper-notification
          .content-wrapper-notification-unread
            .content-wrapper-notification-unread-icon
            .content-wrapper-notification-unread-text
              .content-wrapper-notification-unread-text-title
                | 101
              .content-wrapper-notification-unread-text-description
                | Hey, your weekly performance report is ready, bro!
              .content-wrapper-notification-unread-text-explanation
                | I can give you the report if you can get me cat food that includes ish like last time.
            .content-wrapper-notification-unread-time
              | 01:28 PM
          .content-wrapper-notification-unread
            .content-wrapper-notification-unread-icon
            .content-wrapper-notification-unread-text
              .content-wrapper-notification-unread-text-title
                | 101
              .content-wrapper-notification-unread-text-description
                | Hey, your weekly performance report is ready, bro!
              .content-wrapper-notification-unread-text-explanation
                | I can give you the report if you can get me cat food that includes ish like last time.
            .content-wrapper-notification-unread-time
              | 01:28 PM
          .content-wrapper-notification-unread
            .content-wrapper-notification-unread-icon
            .content-wrapper-notification-unread-text
              .content-wrapper-notification-unread-text-title
                | 101
              .content-wrapper-notification-unread-text-description
                | Hey, your weekly performance report is ready, bro!
              .content-wrapper-notification-unread-text-explanation
                | I can give you the report if you can get me cat food that includes ish like last time.
            .content-wrapper-notification-unread-time
              | 01:28 PM
          .content-wrapper-notification-read
            .content-wrapper-notification-read-icon
            .content-wrapper-notification-read-text
              .content-wrapper-notification-read-text-title
                | 101
              .content-wrapper-notification-read-text-description
                | Hey, your weekly performance report is ready, bro!
              .content-wrapper-notification-read-text-explanation
                | I can give you the report if you can get me cat food that includes ish like last time.
            .content-wrapper-notification-read-time
              | 01:28 PM
