extends ../partials/head
block main
  .all-wrapper
    include ../partials/sidebar.pug
    .content
      include ../partials/header.pug
      .content-wrapper
        include ../partials/stake.pug
        .content-wrapper-portfolio
          .content-wrapper-portfolio-body
            .content-wrapper-portfolio-body-stat
              .content-wrapper-portfolio-body-stat-title
                .content-wrapper-portfolio-body-stat-title-name
                  | All Wallet (8)
                .content-wrapper-portfolio-body-stat-title-icon
                  svg(width='14' height='8' viewbox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0976311 0.683417 -0.0976311 1.31658 0.292893 1.70711L6.29289 7.70711C6.68342 8.09763 7.31658 8.09763 7.70711 7.70711L13.7071 1.70711C14.0976 1.31658 14.0976 0.683417 13.7071 0.292893C13.3166 -0.0976311 12.6834 -0.0976311 12.2929 0.292893L7 5.58579L1.70711 0.292893Z' fill='#616079')
              .content-wrapper-portfolio-body-stat-chain
                .content-wrapper-portfolio-body-stat-chain-name
                  .content-wrapper-portfolio-body-stat-chain-name-icon
                  .content-wrapper-portfolio-body-stat-chain-name-token
                    .content-wrapper-portfolio-body-stat-chain-name-token-name
                      | Atom
                    .content-wrapper-portfolio-body-stat-chain-name-token-darrow
                      svg(width='14' height='9' viewbox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M7 6.04176L1.70711 0.895896C1.31658 0.516219 0.683417 0.516219 0.292893 0.895896C-0.0976314 1.27557 -0.0976314 1.89115 0.292893 2.27083L6.29289 8.10416C6.68342 8.48383 7.31658 8.48383 7.70711 8.10416L13.7071 2.27082C14.0976 1.89115 14.0976 1.27557 13.7071 0.895895C13.3166 0.516218 12.6834 0.516218 12.2929 0.895895L7 6.04176Z' fill='#2C202A')
                .content-wrapper-portfolio-body-stat-chain-value
                  .content-wrapper-portfolio-body-stat-chain-value-title
                    .content-wrapper-portfolio-body-stat-chain-value-title-icon
                      svg(width='18' height='13' viewbox='0 0 18 13' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M9.00007 3.61111C7.34318 3.61111 6 4.90451 6 6.5C6 8.09549 7.34318 9.38889 9.00007 9.38889C10.657 9.38889 12.0001 8.09549 12.0001 6.5C12.0001 4.90451 10.657 3.61111 9.00007 3.61111ZM7.50003 6.5C7.50003 5.70226 8.17162 5.05556 9.00007 5.05556C9.82851 5.05556 10.5001 5.70226 10.5001 6.5C10.5001 7.29774 9.82851 7.94444 9.00007 7.94444C8.17162 7.94444 7.50003 7.29774 7.50003 6.5Z' fill='#72728F')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M17.9208 6.1765C17.921 6.17677 17.9211 6.17701 17.2502 6.5C17.9211 6.82299 17.921 6.82323 17.9208 6.8235L17.9196 6.82582L17.917 6.83075L17.9085 6.84679C17.9014 6.86019 17.8912 6.87894 17.8782 6.90268C17.8521 6.95016 17.8142 7.01767 17.7648 7.10234C17.6659 7.27159 17.5204 7.51002 17.3295 7.7946C16.9487 8.36239 16.3826 9.12124 15.6411 9.88285C14.1718 11.392 11.9248 13 9.00007 13C6.07537 13 3.82831 11.392 2.35902 9.88285C1.61753 9.12124 1.05144 8.36239 0.670635 7.7946C0.479766 7.51002 0.334219 7.27159 0.235352 7.10234C0.18589 7.01767 0.148026 6.95016 0.121936 6.90268C0.108888 6.87894 0.0987766 6.86019 0.0916235 6.84679L0.0831124 6.83075L0.080524 6.82582L0.0796474 6.82414C0.0795096 6.82387 0.0790494 6.82299 0.749885 6.5C0.0790494 6.17701 0.0791757 6.17677 0.0793135 6.1765L0.080524 6.17418L0.0831124 6.16925L0.0916235 6.15321C0.0987766 6.13981 0.108888 6.12106 0.121936 6.09732C0.148026 6.04984 0.18589 5.98233 0.235352 5.89766C0.334219 5.72841 0.479766 5.48998 0.670635 5.2054C1.05144 4.63761 1.61753 3.87876 2.35902 3.11715C3.82831 1.60798 6.07537 0 9.00007 0C11.9248 0 14.1718 1.60798 15.6411 3.11715C16.3826 3.87876 16.9487 4.63761 17.3295 5.2054C17.5204 5.48998 17.6659 5.72841 17.7648 5.89766C17.8142 5.98233 17.8521 6.04984 17.8782 6.09732C17.8912 6.12106 17.9014 6.13981 17.9085 6.15321L17.917 6.16925L17.9196 6.17418L17.9208 6.1765ZM1.93072 7.01095C1.7961 6.81023 1.68743 6.6364 1.60546 6.5C1.68743 6.3636 1.7961 6.18977 1.93072 5.98905C2.27649 5.4735 2.78855 4.7879 3.45335 4.10507C4.79661 2.72535 6.67465 1.44444 9.00007 1.44444C11.3255 1.44444 13.2035 2.72535 14.5468 4.10507C15.2116 4.7879 15.7236 5.4735 16.0694 5.98905C16.204 6.18977 16.3127 6.3636 16.3947 6.5C16.3127 6.6364 16.204 6.81023 16.0694 7.01095C15.7236 7.5265 15.2116 8.2121 14.5468 8.89493C13.2035 10.2747 11.3255 11.5556 9.00007 11.5556C6.67465 11.5556 4.79661 10.2747 3.45335 8.89493C2.78855 8.2121 2.27649 7.5265 1.93072 7.01095Z' fill='#72728F')
                        path(d='M17.2502 6.5L17.9208 6.1765C18.0264 6.37983 18.0264 6.62017 17.9208 6.8235L17.2502 6.5Z' fill='#72728F')
                        path(d='M0.0793135 6.1765L0.749885 6.5L0.0790494 6.82299C-0.0265257 6.61966 -0.0262616 6.37983 0.0793135 6.1765Z' fill='#72728F')
                    .content-wrapper-portfolio-body-stat-chain-value-title-text
                      | Total Wallet Value
                  .content-wrapper-portfolio-body-stat-chain-value-amount
                    .content-wrapper-portfolio-body-stat-chain-value-amount-token
                      | 324.3
                    .content-wrapper-portfolio-body-stat-chain-value-amount-usd
                      | $3245.12
              .content-wrapper-portfolio-body-stat-each
                .content-wrapper-portfolio-body-stat-timeline
                  .content-wrapper-portfolio-body-stat-timeline-time
                    | 24H
                  .content-wrapper-portfolio-body-stat-timeline-percent
                    .content-wrapper-portfolio-body-stat-timeline-percent-text
                      | +0.2%
                    .content-wrapper-portfolio-body-stat-timeline-percent-text
                      svg(width='16' height='14' viewbox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M8.43301 13.1782C8.24056 13.5116 7.75944 13.5116 7.56699 13.1782L0.7346 1.34418C0.495933 0.930791 0.916953 0.449957 1.35824 0.63194L6.09377 2.58484C7.31472 3.08835 8.68529 3.08835 9.90624 2.58484L14.6418 0.631943C15.083 0.44996 15.5041 0.930795 15.2654 1.34418L8.43301 13.1782Z' fill='#FF0000')
                    .content-wrapper-portfolio-body-stat-timeline-percent-text
                      | 7.1%
                .content-wrapper-portfolio-body-stat-timeline
                  .content-wrapper-portfolio-body-stat-timeline-time
                    | All TIme
                  .content-wrapper-portfolio-body-stat-timeline-percent
                    .content-wrapper-portfolio-body-stat-timeline-percent-text
                      | +$2.33%
                    .content-wrapper-portfolio-body-stat-timeline-percent-text
                      svg(width='16' height='14' viewbox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M8.43301 13.1782C8.24056 13.5116 7.75944 13.5116 7.56699 13.1782L0.7346 1.34418C0.495933 0.930791 0.916953 0.449957 1.35824 0.63194L6.09377 2.58484C7.31472 3.08835 8.68529 3.08835 9.90624 2.58484L14.6418 0.631943C15.083 0.44996 15.5041 0.930795 15.2654 1.34418L8.43301 13.1782Z' fill='#FF0000')
                    .content-wrapper-portfolio-body-stat-timeline-percent-text
                      | 5%
                .content-wrapper-portfolio-body-stat-balance
                  .content-wrapper-portfolio-body-stat-balance-text
                    | Total Staked Balance
                  .content-wrapper-portfolio-body-stat-balance-statusbar-1
                .content-wrapper-portfolio-body-stat-balance
                  .content-wrapper-portfolio-body-stat-balance-text
                    | Unclaimed Rewards
                  .content-wrapper-portfolio-body-stat-balance-statusbar-2
                .content-wrapper-portfolio-body-stat-balance
                  .content-wrapper-portfolio-body-stat-balance-text
                    | Total Available Balance
                  .content-wrapper-portfolio-body-stat-balance-statusbar-3
            .content-wrapper-portfolio-body-validators
              .content-wrapper-portfolio-body-validators-title
                | Your Validators
              .content-wrapper-portfolio-body-validators-content
                .content-wrapper-portfolio-body-validators-content-first
                  .content-wrapper-portfolio-body-validators-content-first-icon
                  .content-wrapper-portfolio-body-validators-content-first-text
                    | Imperator
                .content-wrapper-portfolio-body-validators-content-second
                  .content-wrapper-portfolio-body-validators-content-second-icon
                  .content-wrapper-portfolio-body-validators-content-second-text
                    | Chorus one
                .content-wrapper-portfolio-body-validators-content-third
                  .content-wrapper-portfolio-body-validators-content-third-icon
                    svg(width='35' height='21' viewbox='0 0 35 21' fill='none' xmlns='http://www.w3.org/2000/svg')
                      path(d='M0.273107 20.2568H4.50079C4.65009 20.2568 4.7739 20.113 4.7739 19.9369V0.319882C4.7739 0.143767 4.65009 0 4.50079 0H0.273107C0.123808 0 0 0.143767 0 0.319882V19.9369C0 20.113 0.123808 20.2568 0.273107 20.2568Z' fill='#2C202A')
                      path(d='M29.6051 20.2568H33.8328C33.9821 20.2568 34.1059 20.113 34.1059 19.9369V0.319882C34.1059 0.143767 33.9821 0 33.8328 0H29.6051C29.4558 0 29.332 0.143767 29.332 0.319882V19.9369C29.332 20.113 29.4558 20.2568 29.6051 20.2568Z' fill='#2C202A')
                      path(d='M15.2692 4.26747C14.9958 2.9351 14.726 1.61354 14.4525 0.277573C15.1721 0.0975239 15.8736 0.00389821 16.586 0.000297223C19.2843 -0.0177077 21.7164 0.781712 23.7599 2.5606C25.5696 4.13783 26.6453 6.15799 26.9943 8.54184C27.3181 10.7565 27.0051 12.8774 25.9509 14.858C24.4291 17.71 22.0761 19.4961 18.9137 20.1622C16.7299 20.6232 14.6 20.3711 12.5853 19.4096C10.0669 18.2069 8.23925 16.3164 7.32902 13.6625C6.04823 9.92102 8.51627 5.8447 12.4198 5.18572C14.395 4.85083 16.1903 5.28295 17.7157 6.61531C18.9353 7.68121 19.7772 8.98477 20.083 10.6052C20.1909 11.1886 20.2017 11.7719 20.1442 12.3625C20.1298 12.5173 20.0506 12.5497 19.9175 12.5641C18.7626 12.6902 17.6114 12.8198 16.4565 12.9495C16.1974 12.9783 15.942 13.0071 15.6794 13.0359C15.7765 12.755 15.8916 12.4993 15.9492 12.2329C16.1903 11.167 15.7046 10.1839 14.708 9.60054C13.6323 8.97396 12.6069 9.28005 11.9485 9.87781C11.1534 10.6016 10.9483 11.7323 11.4124 12.7082C12.4882 14.9588 14.7404 16.3056 17.2336 16.1831C19.9859 16.0499 22.3892 13.9325 22.8425 11.2138C23.1771 9.20082 22.6554 7.42914 21.2631 5.93473C20.3852 4.99127 19.3419 4.31788 18.0395 4.11983C17.158 3.98659 16.291 4.06221 15.4239 4.24226C15.3772 4.25307 15.3304 4.25667 15.2692 4.26747Z' fill='#2C202A')
                  .content-wrapper-portfolio-body-validators-content-third-text
                    | Redelegate
                  .content-wrapper-portfolio-body-validators-content-third-arrow
                    svg(width='15' height='15' viewbox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                      path(d='M7.37915 14.1148C7.39181 14.1278 7.77975 14.2274 8.24116 14.3359C8.70264 14.4445 9.08519 14.5168 9.09134 14.4966C9.09743 14.4764 9.14518 14.1484 9.19739 13.7678C9.30227 13.0034 9.55621 12.111 9.82755 11.5528C10.6733 9.81332 12.1908 8.66152 14.0313 8.36216L14.5 8.28591V7.51748V6.74899L14.0752 6.67601C11.2921 6.19792 9.4777 4.06718 9.13827 0.87852C9.11612 0.670303 9.08964 0.5 9.07944 0.5C8.98558 0.5 7.4303 0.883787 7.40089 0.91419C7.37962 0.936175 7.39544 1.13137 7.4361 1.34789C7.88615 3.74541 9.17477 5.69634 10.847 6.51207L11.2481 6.70775L2.99949 6.72307L0.5 6.7328L0.5 8.28798L3.01291 8.29772L11.2421 8.3131L10.7357 8.57582C9.42192 9.25734 8.38179 10.5942 7.76926 12.3887C7.59471 12.8999 7.33134 14.0654 7.37915 14.1148Z' fill='#2C202A')
              .content-wrapper-portfolio-body-buttons
                .content-wrapper-portfolio-body-buttons-spiral-right
                  svg(width='103' height='101' viewbox='0 0 103 101' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M24.6874 -54C9.77758 -28.1885 -5.85956 -17.0268 15.3131 1.17368C35.0959 16.1097 50.3608 35.8991 37.1654 51.7197C32.4067 57.4252 23.4125 56.437 18.8042 54.0059C11.5141 50.1602 9.77733 43.3966 11.8866 35.8991C15.7184 22.2793 31.4457 8.66927 46.9268 12.9555C71.1534 19.6632 83.1942 43.2186 85.6519 65.8498C86.1415 70.3577 83.8819 104.235 78.7991 85.8169C77.8766 82.4742 75.5258 72.3669 76.6656 75.6473C78.5554 81.0864 79.3809 84.2179 79.3809 90.0956C79.3809 91.2625 78.4916 97.3608 81.1911 95.2424C86.7183 90.9047 92.568 86.9963 98 82.5304' stroke='#C4CDF4' stroke-width='10' stroke-linecap='round')
                .content-wrapper-portfolio-body-buttons-spiral-left
                  svg(width='138' height='139' viewbox='0 0 138 139' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M5.7077 148.687C19.736 149.313 58.4848 105.843 63.9765 85.8154C66.2617 77.4819 64.5109 64.7922 58.5007 57.88C45.5937 43.036 16.4335 53.234 34.6372 71.833C44.8461 82.2637 63.3878 79.3588 76.488 77.1272C95.7987 73.8377 105.035 63.3624 116.003 48.7058C121.573 41.2625 135.172 4.91163 132.352 5.61393' stroke='#C4CDF4' stroke-width='10' stroke-linecap='round')
                .content-wrapper-portfolio-body-buttons-each
                  .content-wrapper-portfolio-body-buttons-each-text
                    | Collect Your Rewards
                  .content-wrapper-portfolio-body-buttons-each-arrow
                    svg(width='14' height='15' viewbox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                      path(d='M6.87915 14.1148C6.89181 14.1278 7.27975 14.2274 7.74116 14.3359C8.20264 14.4445 8.58519 14.5168 8.59134 14.4966C8.59743 14.4764 8.64518 14.1484 8.69739 13.7678C8.80227 13.0034 9.05621 12.111 9.32755 11.5528C10.1733 9.81332 11.6908 8.66152 13.5313 8.36216L14 8.28591V7.51748V6.74899L13.5752 6.67601C10.7921 6.19792 8.9777 4.06718 8.63827 0.87852C8.61612 0.670303 8.58964 0.5 8.57944 0.5C8.48558 0.5 6.9303 0.883787 6.90089 0.91419C6.87962 0.936175 6.89544 1.13137 6.9361 1.34789C7.38615 3.74541 8.67477 5.69634 10.347 6.51207L10.7481 6.70775L2.49949 6.72307L0 6.7328L0 8.28798L2.51291 8.29772L10.7421 8.3131L10.2357 8.57582C8.92192 9.25734 7.88179 10.5942 7.26926 12.3887C7.09471 12.8999 6.83134 14.0654 6.87915 14.1148Z' fill='#F5F5F5')
                .content-wrapper-portfolio-body-buttons-each
                  .content-wrapper-portfolio-body-buttons-each-text
                    | Collect and Restake
                  .content-wrapper-portfolio-body-buttons-each-arrow
                    svg(width='14' height='15' viewbox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg')
                      path(d='M6.87915 14.1148C6.89181 14.1278 7.27975 14.2274 7.74116 14.3359C8.20264 14.4445 8.58519 14.5168 8.59134 14.4966C8.59743 14.4764 8.64518 14.1484 8.69739 13.7678C8.80227 13.0034 9.05621 12.111 9.32755 11.5528C10.1733 9.81332 11.6908 8.66152 13.5313 8.36216L14 8.28591V7.51748V6.74899L13.5752 6.67601C10.7921 6.19792 8.9777 4.06718 8.63827 0.87852C8.61612 0.670303 8.58964 0.5 8.57944 0.5C8.48558 0.5 6.9303 0.883787 6.90089 0.91419C6.87962 0.936175 6.89544 1.13137 6.9361 1.34789C7.38615 3.74541 8.67477 5.69634 10.347 6.51207L10.7481 6.70775L2.49949 6.72307L0 6.7328L0 8.28798L2.51291 8.29772L10.7421 8.3131L10.2357 8.57582C8.92192 9.25734 7.88179 10.5942 7.26926 12.3887C7.09471 12.8999 6.83134 14.0654 6.87915 14.1148Z' fill='#F5F5F5')
