extends ../partials/head
block main
  .all-wrapper
    include ../partials/sidebar.pug
    .content
      include ../partials/header.pug
      .content-wrapper
        .content-wrapper-title
          | Settings
        .content-wrapper-lang
          .content-wrapper-lang-main
            .content-wrapper-lang-main-title
              | Language
            .content-wrapper-lang-main-subtitle
              | Change and set the language you would like to display in node101 stake.
          .content-wrapper-lang-popup
            .content-wrapper-lang-popup-text
              | T&uuml;rk&ccedil;e (Turkish)
            .content-wrapper-lang-popup-icon
              svg(width='14' height='8' viewbox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0976311 0.683417 -0.0976311 1.31658 0.292893 1.70711L6.29289 7.70711C6.68342 8.09763 7.31658 8.09763 7.70711 7.70711L13.7071 1.70711C14.0976 1.31658 14.0976 0.683417 13.7071 0.292893C13.3166 -0.0976311 12.6834 -0.0976311 12.2929 0.292893L7 5.58579L1.70711 0.292893Z' fill='#616079')
            .content-wrapper-lang-popup-list.display-none
              .content-wrapper-lang-popup-list-item
                .content-wrapper-lang-popup-list-item-icon
                  svg(width='26' height='20' viewbox='0 0 26 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(fill-rule='evenodd' clip-rule='evenodd' d='M0 10C0 4.47715 4.47715 0 10 0H16C21.5228 0 26 4.47715 26 10C26 15.5228 21.5228 20 16 20H10C4.47715 20 0 15.5228 0 10Z' fill='#E30A17')
                    path(fill-rule='evenodd' clip-rule='evenodd' d='M16.5336 10.3122C16.5336 13.0706 14.3155 15.3081 11.5773 15.3081C8.83922 15.3081 6.62109 13.0706 6.62109 10.3081C6.62109 7.54557 8.83922 5.31641 11.5773 5.31641C14.3155 5.31641 16.5336 7.55391 16.5336 10.3122Z' fill='white')
                    path(fill-rule='evenodd' clip-rule='evenodd' d='M16.7775 10.3122C16.7775 12.5206 15.0062 14.3081 12.8166 14.3081C10.6269 14.3081 8.85156 12.5164 8.85156 10.3081C8.85156 8.09974 10.6269 6.31641 12.8166 6.31641C15.0062 6.31641 16.7816 8.10391 16.7816 10.3122H16.7775Z' fill='#E30A17')
                    path(fill-rule='evenodd' clip-rule='evenodd' d='M17.4958 7.97878L17.4552 9.82461L15.7773 10.2913L17.4348 10.8954L17.3942 12.5913L18.4708 11.2663L20.1039 11.8496L19.1614 10.4288L20.3111 9.01628L18.5439 9.51628L17.4958 7.97461V7.97878Z' fill='white')
                .content-wrapper-lang-popup-list-item-text
                  | Türkçe (Turkish)

              .content-wrapper-lang-popup-list-item
                .content-wrapper-lang-popup-list-item-icon
                  svg(width='26' height='20' viewbox='0 0 26 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M0 0H26V20H0V0Z' fill='#012169')
                    path(d='M3.04688 0L12.9594 7.54167L22.8312 0H26V2.58333L16.25 10.0417L26 17.4583V20H22.75L13 12.5417L3.29062 20H0V17.5L9.70937 10.0833L0 2.66667V0H3.04688Z' fill='white')
                    path(d='M17.225 11.7083L26 18.3333V20L14.9906 11.7083H17.225ZM9.75 12.5417L9.99375 14L2.19375 20H0L9.75 12.5417ZM26 0V0.125L15.8844 7.95833L15.9656 6.125L23.9688 0H26ZM0 0L9.70937 7.33333H7.27187L0 1.75V0Z' fill='#C8102E')
                    path(d='M9.79062 0V20H16.2906V0H9.79062ZM0 6.66667V13.3333H26V6.66667H0Z' fill='white')
                    path(d='M0 8.04167V12.0417H26V8.04167H0ZM11.0906 0V20H14.9906V0H11.0906Z' fill='#C8102E')
                .content-wrapper-lang-popup-list-item-text
                  | İngilizce (English)
            
        .content-wrapper-lang
          .content-wrapper-lang-main
            .content-wrapper-lang-main-title
              | Display Currency
            .content-wrapper-lang-main-subtitle
              | Select the currency you would like to see displayed alongside your cryptocurrency assets.
          .content-wrapper-lang-popup
            .content-wrapper-lang-popup-text
              | Turkish Lira (TRY)
            .content-wrapper-lang-popup-icon
              svg(width='14' height='8' viewbox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0976311 0.683417 -0.0976311 1.31658 0.292893 1.70711L6.29289 7.70711C6.68342 8.09763 7.31658 8.09763 7.70711 7.70711L13.7071 1.70711C14.0976 1.31658 14.0976 0.683417 13.7071 0.292893C13.3166 -0.0976311 12.6834 -0.0976311 12.2929 0.292893L7 5.58579L1.70711 0.292893Z' fill='#616079')
        
            .content-wrapper-lang-popup-list.display-none
              .content-wrapper-lang-popup-list-item
                .content-wrapper-lang-popup-list-item-icon
                .content-wrapper-lang-popup-list-item-text
                  | Turkish Lira (TRY)

              .content-wrapper-lang-popup-list-item
                .content-wrapper-lang-popup-list-item-icon
                .content-wrapper-lang-popup-list-item-text
                  | US Dollar (USD)
        //-
        .content-wrapper-lang
          .content-wrapper-lang-main
            .content-wrapper-lang-main-title
              | Analytics
            .content-wrapper-lang-main-subtitle
              | Enable analytics to enhance the user experience on node101 Stake. This will include tracking clicks, page visits, redirections, actions (such as stake, unstake, cliam, etc.), end-of-page scrolls, number of accounts, operations, session durations.
          .content-wrapper-lang-popup.popup-slide
            .content-wrapper-lang-popup-slide
              .content-wrapper-lang-popup-slide-ball
      .content-wrapper-footer
        .content-wrapper-footer-text
          | Terms of Use
        .content-wrapper-footer-text
          | Privacy Policy
        .content-wrapper-footer-text
          .content-wrapper-footer-text-icon
            svg(width='14' height='14' viewbox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M6.99888 0.551759C5.8325 0.552122 4.68807 0.868845 3.68747 1.4682C2.68687 2.06755 1.86758 2.92708 1.31685 3.95524C0.76612 4.9834 0.504584 6.14169 0.560095 7.30674C0.615606 8.47179 0.986087 9.59997 1.63208 10.5711L0.550781 13.448L4.17163 12.7932C5.04352 13.2193 6.00034 13.4431 6.97075 13.4479C7.94116 13.4527 8.90014 13.2384 9.77621 12.821C10.6522 12.4036 11.4228 11.7938 12.0304 11.0372C12.638 10.2805 13.067 9.39642 13.2854 8.45089C13.5037 7.50535 13.5059 6.52272 13.2916 5.57624C13.0774 4.62977 12.6523 3.74385 12.048 2.98454C11.4437 2.22523 10.6758 1.61211 9.80158 1.19089C8.92734 0.769656 7.9693 0.551186 6.99888 0.551759Z' stroke='#72728F' stroke-linecap='round' stroke-linejoin='round')
              path(d='M5.51172 5.51195C5.51172 5.21765 5.59899 4.92995 5.7625 4.68525C5.926 4.44054 6.1584 4.24982 6.4303 4.1372C6.7022 4.02457 7.00139 3.9951 7.29004 4.05252C7.57869 4.10993 7.84383 4.25165 8.05194 4.45976C8.26004 4.66786 8.40176 4.933 8.45917 5.22165C8.51659 5.5103 8.48712 5.80949 8.3745 6.08139C8.26187 6.35329 8.07115 6.58569 7.82645 6.74919C7.58174 6.9127 7.29405 6.99997 6.99974 6.99997V7.99199' stroke='#72728F' stroke-linecap='round' stroke-linejoin='round')
              path(d='M7.00191 10.4721C6.86494 10.4721 6.75391 10.361 6.75391 10.2241C6.75391 10.0871 6.86494 9.97607 7.00191 9.97607' stroke='#72728F' stroke-linecap='round' stroke-linejoin='round')
              path(d='M7 10.4721C7.13697 10.4721 7.248 10.3611 7.248 10.2241C7.248 10.0871 7.13697 9.97607 7 9.97607' stroke='#72728F' stroke-linecap='round' stroke-linejoin='round')
          .content-wrapper-footer-text-help
            | Help
