:root {
  --content-wrapper-info-width: 600px;
  --content-wrapper-info-height: 700px;
  --content-wrapper-info-body-width: 530px;
  --content-wrapper-info-body-height: 520px;
  --content-wrapper-info-body-border-radius: 60px;
  --content-wrapper-info-body-margin-top: 80px;
  --content-wrapper-info-body-content-padding: 20px;
  --content-wrapper-info-body-content-title-padding-left: 20px;
  --content-wrapper-info-body-body-content-width: 420px;
  --content-wrapper-info-body-larrow-margin-right: 15px;
  --content-wrapper-info-body-larrow-margin-left: 15px;
  --content-wrapper-info-body-content-text-padding:15px 10px;

  --content-wrapper-info-footer-width: 100px;
  --content-wrapper-info-footer-margin-top-bottom: 25px;
  --content-wrapper-info-footer-each-width: 13px;
  --content-wrapper-info-footer-each-height: 13px;

}

.content-wrapper {
  height: auto;
  min-height: auto;
  width: auto;
  min-width: auto;
  display: flex;
  margin: auto;
}

.content-wrapper-info {
  height: var(--content-wrapper-info-height);
  min-height: var(--content-wrapper-info-height);
  width: var(--content-wrapper-info-width);
  min-width: var(--content-wrapper-info-width);
  display: flex;
  flex-direction: column;
}

.content-wrapper-info-body {
  position: relative;
  height: var(--content-wrapper-info-body-height);
  min-height: var(--content-wrapper-info-body-height);
  width: var(--content-wrapper-info-body-width);
  min-width: var(--content-wrapper-info-body-width);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--content-wrapper-info-body-margin-top);
  border-radius: var(--content-wrapper-info-body-border-radius);
  border: 2px solid var(--primary-border);
}

.content-wrapper-info-body-spiral {
  position: absolute;
  top: 0px;
  height: 99%;
  min-height: 99%;
  width: 99%;
  min-width: 99%;
  z-index: 0;
}

.content-wrapper-info-body-content {
  height: fit-content;
  min-height: fit-content;
  width: var(--content-wrapper-info-body-body-content-width);
  min-width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--content-wrapper-info-body-content-padding);
  background-color: var(--primary-background-white);
  border-radius: var(--border-radius-big);
  z-index: 10;
  position: absolute;
  right: 15px;
  top: 150px;
}

.content-wrapper-info-body-larrow {
  border: 2px solid red;
  height: auto;
  min-height: auto;
  width: auto;
  min-width: auto;
  margin-left: var(--content-wrapper-info-body-larrow-margin-left);
  font-size: var(--font-size-30);
  z-index: 10;
}

.content-wrapper-info-body-rarrow{
  border: 2px solid red;
  height: auto;
  min-height: auto;
  width: auto;
  min-width: auto;
  margin-right: var(--content-wrapper-info-body-larrow-margin-right);
  font-size: var(--font-size-30);
  z-index: 10;
  left: 100px;
}

.content-wrapper-info-body-wrapper {
  position: relative;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: fit-content;
}

.content-wrapper-info-body-content-title {
  height: auto;
  min-height: auto;
  width: auto;
  min-width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: var(--content-wrapper-info-body-content-title-padding-left);
  font-weight: 500;
  font-size: var(--font-size-26);
  font-family: 'Montserrat';
}

.content-wrapper-info-body-content-text {
  height: auto;
  min-height: auto;
  width: auto;
  min-width: auto;
  padding: var(--content-wrapper-info-body-content-text-padding);
  font-size: var(--font-size-18);
  font-family: 'Montserrat';
}

.content-wrapper-info-footer{
  height: auto;
  min-height: auto;
  width: var(--content-wrapper-info-footer-width);
  min-width: var(--content-wrapper-info-footer-width);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: var(--content-wrapper-info-footer-margin-top-bottom) auto;
}

.content-wrapper-info-footer-each {
  height: var(--content-wrapper-info-footer-each-height);
  min-height: var(--content-wrapper-info-footer-each-height);
  width: var(--content-wrapper-info-footer-each-width);
  min-width: var(--content-wrapper-info-footer-each-width);
  border-radius: 50%;
  background-color: white;
  border: 1px solid var(--primary-text-medium);
}

.content-wrapper-info-footer-each:nth-child(1) {
  background-color: var(--primary-background-dark);
}