:root {
  --primary-background-light: #DFE5FF;
  --primary-background-dark: #C4CDF4;
  --primary-background-medium: #D9E0FF;
  --primary-background-white: #F4F6FF;
  --header-text-color:  #5A5975;
  --primary-text-medium: #616079;

  --primary-text-black:  #2C202A;
  --primary-text-light:   #72728F;
  --primary-arrow: #7777c9;
  --primary-border: #9695DF;
  --primary-height: 935px;

  --border-radius-big: 60px;

  --body-padding: 22px;

  --content-padding: 30px;
  --content-border-radius: 40px;

  --content-wrapper-info-body-width: 520px;
  --content-wrapper-info-body-height: 520px;

  --content-wrapper-info-body-border-radius: 60px;
  --content-wrapper-info-body-margin-top: 80px;

  --font-size-13: 13px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-22: 22px;
  --font-size-40: 40px;
}

body {
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  min-width: auto;
  padding: var(--body-padding);
}

.all-wrapper {
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content {
  position: relative;
  height: auto;
  min-height: auto;
  width: 100%;
  min-width: auto;
  display: flex;
  flex-direction: column;
  padding: var(--content-padding);
  background-color: var(--primary-background-light);
  border-radius: var(--content-border-radius);
}

.content-wrapper {
  height: auto;
  min-height: auto;
  width: auto;
  min-width: auto;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.content-wrapper-info {
  height: auto;
  min-height: auto;
  width: auto;
  min-width: auto;
  display: flex;
  flex-direction: column;
}

.content-wrapper-info-body {
  position: relative;
  height: var(--content-wrapper-info-body-height);
  min-height: var(--content-wrapper-info-body-height);
  width: var(--content-wrapper-info-body-width);
  min-width: var(--content-wrapper-info-body-width);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: var(--content-wrapper-info-body-margin-top);
  border-radius: var(--content-wrapper-info-body-border-radius);
  border: 2px solid var(--primary-border);
}

.content-wrapper-info-body-spiral {
  position: absolute;
  top: 0px;
  height: 99%;
  min-height: 99%;
  width: 99%;
  min-width: 99%;
  z-index: 0;
}

.content-wrapper-info-body-content {
  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--primary-background-white);
  border-radius: 60px;
  z-index: 10;
}

.content-wrapper-info-body-larrow {
  font-size: 30px;
  margin-right: 20px;
  z-index: 10;
}

.content-wrapper-info-body-rarrow{
  font-size: 30px;
  margin-left: 20px;
  z-index: 10;
}

.content-wrapper-info-body-content-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat';
  font-size: 26px;
  font-weight: 500;
  padding-left: 20px;
}

.content-wrapper-info-body-content-text {
  padding:15px 10px;
  font-family: 'Montserrat';
  font-size: 18px;
}

.content-wrapper-info-footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  margin: 25px auto;
}
.content-wrapper-info-footer-each {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid var(--primary-text-medium);
}

.content-wrapper-info-footer-each:nth-child(1) {
  background-color: var(--primary-background-dark);
}