:root {
  --content-wrapper-border-radius: 56px;
  --content-wrapper-margin-top: 120px;
  --content-wrapper-title-padding: 30px;
  --content-wrapper-title-margin-left: 20px;
  --content-wrapper-lang-popup-width: 235px;
  --content-wrapper-lang-popup-height: 40px;
  --content-wrapper-lang-popup-padding: 12px 16px;
  --content-wrapper-lang-popup-margin-left: 120px;
}

.content-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  margin: var(--content-wrapper-margin-top) auto;
  border-radius: var(--border-radius-big);
}

.content-wrapper-title {
  height: fit-content;
  min-height: fit-content;
  width: fit-content;
  min-width: fit-content;
  margin-left: var(--content-wrapper-title-margin-left);
  padding: var(--content-wrapper-title-padding);
  font-weight: 400;
  font-size: var(--font-size-30);
  font-family: 'Igra Sans';
  color: #502e4a;
}




.content-wrapper-lang-main {
  margin-left: 20px;
  color: #616079;
  font-family: 'Montserrat';
  width: 705px;
}

.content-wrapper-lang-main-title {
  font-size: 24px;
  line-height: 1.4;
  font-weight: 500;
  margin-bottom: 5px;
}



.content-wrapper-lang-popup {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 235px;
  height: 40px;
  border-radius: 60px;
  padding: 12px 16px;
  background-color: #D4DCFF !important;
  justify-content: space-between;
  margin-left: 120px;
}


:root {
  --content-wrapper-lang-margin-top: 40px;
  --content-wrapper-lang-padding: 5px 30px;

  --content-wrapper-lang-main-width: 705px;
  --content-wrapper-lang-main-margin-left: 20px;

  --content-wrapper-lang-main-title-margin-bottom: 5px;
}

.content-wrapper-lang {
  height: fit-content;
  min-height: fit-content;
  width: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  margin-top: var(--content-wrapper-lang-margin-top);
  padding: var(--content-wrapper-lang-padding);
}

.content-wrapper-lang-main {
  height: fit-content;
  min-height: fit-content;
  width: var(--content-wrapper-lang-main-width);
  min-width: var(--content-wrapper-lang-main-width);
  margin-left: var(--content-wrapper-lang-main-margin-left);
}

.content-wrapper-lang-main-title {
  margin-bottom: var(--content-wrapper-lang-main-title-margin-bottom);
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: var(--font-size-26);
  line-height: 1.4;
  color: var(--primary-text-medium);
}

.content-wrapper-lang-popup {
  height: var(--content-wrapper-lang-popup-height);
  min-height: var(--content-wrapper-lang-popup-height);
  width: var(--content-wrapper-lang-popup-width);
  min-width: var(--content-wrapper-lang-popup-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: var(--content-wrapper-lang-popup-margin-left);
  padding: var( --content-wrapper-lang-popup-padding);
  border-radius: var(--border-radius-big);
  background-color: #D4DCFF;
}

.content-wrapper-lang-popup-text {
  font-weight: 500;
  font-family: 'Montserrat';
  font-size: var(--font-size-16);
  line-height: 1.5;
  color: var(--primary-text-medium);
}

.content-wrapper-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  font-weight: 'Montserrat';
  font-size: 16px;
  line-height: 1.4;
  color: #72728F;
  margin-top: 40px;
  width: 700px;
  padding-left: 50px;
}

.content-wrapper-footer-text {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 130px;  
}

.content-wrapper-footer-text:last-child {
  width: 70px;
}

.content-wrapper-lang-popup-slide {
  width: 48px;
  height: 26px;
  border-radius: 999px;
  border: 2px solid #9695DF;
  display: flex;
  justify-content: flex-end;
  margin: auto 5px auto 15px;
  align-items: center;
}

.content-wrapper-lang-popup-slide-ball {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #9695DF;
  margin: auto 3px;
}

.popup-slide {
  background-color: transparent !important;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}