* {
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Montserrat', Arial, sans-serif;
  margin: 0;
  padding: 0;

}
html {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
	background-size: cover;
	background: var(--background-color);
}
       
body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: var(--background-color);
}

input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

textarea, input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  resize: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}

:root {
  --page-horizontal-padding: 40px;
  --page-vertical-padding: 20px;

  --background-color: rgba(245, 245, 245, 1);
  --light-color: rgba(223, 229, 255, 1);
  --light-color-contrast: rgba(251, 255, 224, 1);
  --light-color-shadow: rgba(213, 218, 243, 1);
  --dark-color: rgba(33, 24, 32, 1);
  --dark-text-color: rgba(44, 32, 42, 1);
  --light-text-color: rgba(245, 245, 245, 1);
  --link-dark-color: rgba(71, 53, 202, 1);
  --link-light-color: rgba(150, 149, 223, 1);
  --secondary-light-color: rgba(196, 205, 244, 1);
  --dark-color-contrast: rgba(112, 130, 227, 1);
  --bright-color-gradient-one: rgba(253, 134, 77, 1);
  --bright-color-gradient-two: rgba(254, 72, 108, 1);
  --lila-color: rgba(231, 224, 255, 1);
  --green-color: rgba(220, 254, 188, 1);
  --purple-color: rgba(127, 48, 255, 1);
  --light-pink-color: rgba(240, 213, 236, 1);
  --placeholder-color: rgba(153, 153, 153, 1);
}

.display-none {
  display: none !important;
}
p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}


:root {
  --primary-background-light: #DFE5FF;
  --primary-background-dark: #C4CDF4;
  --primary-background-medium: #D9E0FF;
  --primary-background-white: #F4F6FF;
  --header-text-color:  #5A5975;
  --primary-text-medium: #616079;

  --primary-text-black:  #2C202A;
  --primary-text-light:   #72728F;
  --primary-arrow: #7777c9;
  --primary-border: #9695DF;
  --primary-height: 935px;

  --border-radius-big: 60px;
  --border-radius-medium:35px;
  --border-radius-small: 25px;
  --border-radius-smallest: 12px;

  --body-padding: 22px;

  --content-padding: 30px 10px;
  --content-border-radius: 40px;

  
  --font-size-13: 13px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-22: 22px;
  --font-size-24: 24px;
  --font-size-26: 26px;

  --font-size-30: 30px;
  --font-size-40: 40px;
}


body {
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  min-width: auto;
  padding: var(--body-padding);
}

.all-wrapper {
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content {
  position: relative;
  height: auto;
  min-height: auto;
  width: 100%;
  min-width: auto;
  display: flex;
  flex-direction: column;
  padding: var(--content-padding);
  background-color: var(--primary-background-light);
  border-radius: var(--content-border-radius);
}

.content-wrapper {
  height: auto;
  min-height: auto;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: auto 0px;
}

@media only screen and (min-width: 1300px) and (max-width: 1400px) {
  :root {
    --staking-inside-width: 480px;

  }
  .content-wrapper-stake {
      --content-wrapper-stake-width: 530px;
  }

  .content-wrapper-stake-body-main-center-body-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

@media only screen and (min-width: 1200px) and (max-width: 1300px) {
  :root {
    --staking-inside-width: 450px;
    --content-wrapper-stake-height: 700px;

  }

  .content-wrapper-stake {
    --content-wrapper-stake-width: 480px;
    --content-wrapper-stake-body-main-width: 390px;
    --content-wrapper-stake-body-main-center-body-width: 440px;
  }

  .content-wrapper-stake-body-main-center-body {
    --content-wrapper-stake-body-main-center-body-height: 110px;

  }

  .content-wrapper-stake-body-main-center-body-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content-wrapper-stake-body-main-center-body-icon img {
    width: calc(var(--content-wrapper-stake-body-main-center-body-height) - 2 * var(--content-wrapper-stake-body-main-center-body-icon-margin-left));
    height: calc(var(--content-wrapper-stake-body-main-center-body-height) - 2 * var(--content-wrapper-stake-body-main-center-body-icon-margin-left));
    border-radius: 50%;
  }

  .content-wrapper-info-body-wrapper {
    --content-wrapper-info-body-width: 420px;
    --content-wrapper-info-body-height: 460px;
  }

  .content-wrapper-info-body-content {
    --content-wrapper-info-body-body-content-width: 360px;
  }

  .content-wrapper-info-body-content-title {
    font-size: var(--font-size-24) !important;
  }

  .content-wrapper-info-body-content-text {
    font-size: var(--font-size-16) !important;
  }

  .content-wrapper-stake-body-main-center-body-stake {
    --content-wrapper-stake-body-main-center-body-stake-margin-left: 50px;
  }


}

@media only screen and (min-width: 1100px) and (max-width: 1200px) {
  :root {
    --staking-inside-width: 410px;
    --content-wrapper-stake-height: 680px;

  }
  .content-wrapper-stake {
    --content-wrapper-stake-width: 435px;
    --content-wrapper-stake-body-main-width: 380px;
    --content-wrapper-stake-body-main-center-body-width: 420px;
  }

  .content-wrapper-stake-body-main-center-body-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content-wrapper-stake-body-main-center-body {
    --content-wrapper-stake-body-main-center-body-height: 100px;

  }

  .content-wrapper-stake-body-main-center-body-icon img {
    width: calc(var(--content-wrapper-stake-body-main-center-body-height) - 2 * var(--content-wrapper-stake-body-main-center-body-icon-margin-left));
    height: calc(var(--content-wrapper-stake-body-main-center-body-height) - 2 * var(--content-wrapper-stake-body-main-center-body-icon-margin-left));
    border-radius: 50%;
  }

  .content-wrapper-stake-body-main-center-body-chain-name-network {
    font-size: var(--font-size-20);
  }

  .content-wrapper-stake-body-main-center-body-stake-amount {
    font-size: var(--font-size-20);
  }

  .content-wrapper-info-body-wrapper {
    --content-wrapper-info-body-width: 400px;
    --content-wrapper-info-body-height: 450px;
  }

  .content-wrapper-info-body-content {
    --content-wrapper-info-body-body-content-width: 340px;
  }

  .content-wrapper-info-body-content-title {
    font-size: var(--font-size-24) !important;
  }

  .content-wrapper-info-body-content-text {
    font-size: var(--font-size-16) !important;
  }

  .content-wrapper-stake-body-main-center-body-stake {
    --content-wrapper-stake-body-main-center-body-stake-margin-left: 50px;
  }

}

@media only screen and (min-width: 1000px) and (max-width: 1100px) {
  
  :root {
    --staking-inside-width: 380px;
    --content-wrapper-stake-height: 660px;

  }
  .content-wrapper-stake {
    --content-wrapper-stake-width: 425px;
    --content-wrapper-stake-body-main-width: 380px;
    --content-wrapper-stake-body-main-center-body-width:410px;
  }

  .content-wrapper-stake-body-main-center-body-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content-wrapper-stake-body-main-center-body {
    --content-wrapper-stake-body-main-center-body-height: 100px;

  }

  .content-wrapper-stake-body-main-center-body-icon img {
    width: calc(var(--content-wrapper-stake-body-main-center-body-height) - 2 * var(--content-wrapper-stake-body-main-center-body-icon-margin-left));
    height: calc(var(--content-wrapper-stake-body-main-center-body-height) - 2 * var(--content-wrapper-stake-body-main-center-body-icon-margin-left));
    border-radius: 50%;
  }

  .content-wrapper-stake-body-main-center-body-chain-name-network {
    font-size: var(--font-size-20);
  }


  .content-wrapper-stake-body-main-center-body-stake-amount {
    font-size: var(--font-size-20);
  }


  .content-wrapper-info-body-wrapper {
    --content-wrapper-info-body-width: 350px;
    --content-wrapper-info-body-height: 425px;
  }

  .content-wrapper-info-body-content {
    --content-wrapper-info-body-body-content-width: 320px;
  }

  .content-wrapper-info-body-content-title {
    font-size: var(--font-size-24) !important;
  }

  .content-wrapper-info-body-content-text {
    font-size: var(--font-size-16) !important;
  }




  
  .content-wrapper-stake-body-main-center-body-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content-wrapper-stake-body-main-center-body-stake {
    --content-wrapper-stake-body-main-center-body-stake-margin-left: 50px;
  }

}

@media only screen and  (max-width: 1000px) {

  :root {
    --staking-inside-width: 380px;
    --content-wrapper-stake-height: 660px;

  }
  .content-wrapper-stake {
    --content-wrapper-stake-width: 425px;
    --content-wrapper-stake-body-main-width: 380px;
    --content-wrapper-stake-body-main-center-body-width:410px;
  }

  .content-wrapper-stake-body-main-center-body-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content-wrapper-stake-body-main-center-body {
    --content-wrapper-stake-body-main-center-body-height: 100px;

  }

  .content-wrapper-stake-body-main-center-body-icon img {
    width: calc(var(--content-wrapper-stake-body-main-center-body-height) - 2 * var(--content-wrapper-stake-body-main-center-body-icon-margin-left));
    height: calc(var(--content-wrapper-stake-body-main-center-body-height) - 2 * var(--content-wrapper-stake-body-main-center-body-icon-margin-left));
    border-radius: 50%;
  }

  .content-wrapper-stake-body-main-center-body-chain-name-network {
    font-size: var(--font-size-20);
  }


  .content-wrapper-info-body-wrapper {
    --content-wrapper-info-body-width: 350px;
    --content-wrapper-info-body-height: 425px;
  }

  .content-wrapper-info-body-content {
    --content-wrapper-info-body-body-content-width: 320px;
  }

  .content-wrapper-info-body-content-title {
    font-size: var(--font-size-24) !important;
  }

  .content-wrapper-info-body-content-text {
    font-size: var(--font-size-16) !important;
  }




  
  .content-wrapper-stake-body-main-center-body-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content-wrapper-stake-body-main-center-body-stake {
    --content-wrapper-stake-body-main-center-body-stake-margin-left: 50px;
  }
}