:root {
  --header-width: 240px;
  --header-right-padding: 40px;
  --header-border-radius: 50px;
  --header-icon-size: 60px;
  --header-title-height: 60px;
  --header-title-width: 280px;
  --header-title-padding-left: 50px;
}

.content-header {
  position: absolute;
  right: var(--header-right-padding);
  height: auto;
  min-height: auto;
  width:fit-content;
  min-width:fit-content;
  display: flex;
  align-items: center;
  background-color: var(--primary-background-medium);
  border-radius: 98px var(--header-border-radius) var(--header-border-radius) 98px;
  overflow: hidden;
}

.content-header-icon{
  position: absolute;
  height: var(--header-icon-size);
  min-height: var(--header-icon-size);
  width: var(--header-icon-size);
  min-width: var( --header-icon-size);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--primary-background-dark);
  z-index: 1;
}

.content-header-title {
  height: var(--header-title-height);
  min-height: var(--header-title-height);
  width: var(--header-title-width);
  min-width: var(--header-title-width);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: var(--header-title-padding-left);
  background-color: var(--primary-background-14);
  font-weight: 400;
  font-size: var(--font-size-16);
  font-family: 'Montserrat';
  line-height: 1.2;
  color: var(--primary-text-14);
  z-index: 10;
}