:root {
  --content-wrapper-stake-width: 560px;
  --content-wrapper-stake-height: 690px;

  --content-wrapper-stake-margin-side:180px;
  --content-wrapper-stake-body-main-width: 500px;
  --content-wrapper-stake-body-main-height: 500px;

  --content-wrapper-stake-body-main-margin-top: 45px;
  --content-wrapper-stake-body-arrow-width: 18.19px;
  --content-wrapper-stake-body-arrow-height:  15.75px;

  --content-wrapper-stake-body-main-title-each-size: 20px;
  --content-wrapper-stake-body-main-center-width: 504px;
  --content-wrapper-stake-body-main-center-height: 160px;
  --content-wrapper-stake-body-main-center-margin-top: 60px;
  --font-size-16: 16px;
  --font-size-13: 13px;

}

.content-wrapper-stake{
  height: auto;
  min-height: auto;
  width: var(--content-wrapper-stake-width);
  min-width: var(--content-wrapper-stake-width);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0px var(--content-wrapper-stake-margin-side);
  border-radius: var(--border-radius-big);
  background-color: var(--primary-background-white);
}


.content-wrapper-stake-body-main{
  height: var(--content-wrapper-stake-body-main-height);
  min-height: var(--content-wrapper-stake-body-main-height);
  width: var(--content-wrapper-stake-body-main-width);
  min-width: var(--content-wrapper-stake-body-main-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--content-wrapper-stake-body-main-margin-top);
}

.content-wrapper-stake-body-main-title {
  height: auto;
  min-height: auto;
  width: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size-16);
}

.content-wrapper-stake-body-main-title-each {
  height: auto;
  min-height: auto;
  width: 100%;
  min-width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 5px;
  color: var(--header-text-color);
}

.content-wrapper-stake-body-main-title-each-icon {
  width: var(--content-wrapper-stake-body-main-title-each-size);
  min-width: var(--content-wrapper-stake-body-main-title-each-size);
  height: var(--content-wrapper-stake-body-main-title-each-size);
  min-height: var(--content-wrapper-stake-body-main-title-each-size);
  border-radius: 50%;
  background-color: blueviolet;
}

.content-wrapper-stake-body-main-title-each-token {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: var(--font-size-13);
  line-height: 110%;
}

.content-wrapper-stake-body-main-title-each-price {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: var(--font-size-13);
  line-height: 110%;
}

.content-wrapper-stake-body-main-title-each-arrow {
  width: var(--content-wrapper-stake-body-arrow-width);
  height: var(--content-wrapper-stake-body-arrow-height);
}
.content-wrapper-stake-body-main-title-each-change {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: var(--font-size-13);
  line-height: 110%;
}
.content-wrapper-stake-body-main-center {
  width: var(--content-wrapper-stake-body-main-center-width);
  height: var(--content-wrapper-stake-body-main-center-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--content-wrapper-stake-body-main-center-margin-top);
}
.content-wrapper-stake-body-main-center-title {
  display: flex;
  justify-content: space-between;
  width: 475px;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  line-height: 17px;

}

.content-wrapper-stake-body-main-center-body {
  display: flex;
  align-items: center;
  flex-direction: row;

  margin-top: 20px;
  width: 100%;
  height: 120px;
  border-radius: 67px;
  background-color: var(--primary-background-light);
}

.content-wrapper-stake-body-main-center-body-icon {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  background-color: var(--primary-arrow);
  margin-left: 16px;
}

.content-wrapper-stake-body-main-center-body-chain {
  font-family: 'Montserrat';
  margin-left: 25px;
  width: 175px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
  align-items: flex-start;
  padding: 5px 0px;
}

.content-wrapper-stake-body-main-center-body-chain-name {
  font-weight: 500;
  font-size: 22px;
  line-height: 17px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.content-wrapper-stake-body-main-center-body-chain-name-network {
  font-family: 'Igra Sans';
  font-weight: 400;
  font-size: 22px;
}

.content-wrapper-stake-body-main-center-body-chain-name-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrapper-stake-body-main-center-body-chain-token {
  font-weight: 300;
  font-size: 16px;
  line-height: 17px;
  font-family: 'Montserrat';
}

.content-wrapper-stake-body-main-center-body-stake {
  margin-left: 60px;
  overflow: hidden;
  height: 68px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
} 

.content-wrapper-stake-body-main-center-body-stake-amount {
  font-weight: 600;
  font-family: 'Montserrat';
  font-size: 40px;
  line-height: 17px;
}

.content-wrapper-stake-body-main-center-body-stake-dollar {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  line-height: 17px;
}

.content-wrapper-stake-body-main-content {
  padding: 0px;
  margin: 0px ;
  width: 100%;
  margin-top: 40px ;
}

.content-wrapper-stake-body-main-content-stat {
  width: 100%;

}

.content-wrapper-stake-body-main-content-stat-title {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px 0px 20px;
  width: 100%;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 300;
  line-height: 17px;
}

.content-wrapper-stake-body-main-content-stat-title-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-wrapper-stake-body-main-content-stat-title-buttons-icon {
  width: 48px;
  height: 26px;
  border-radius: 999px;
  border: 2px solid var(--primary-border);
  display: flex;
  justify-content: flex-end;
  margin: auto 5px auto 15px;
  align-items: center;
}

.content-wrapper-stake-body-main-content-stat-title-buttons-icon-ball {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--primary-arrow);
  margin: auto 3px;

}

.content-wrapper-stake-body-main-content-stat-title-content {
  margin-top: 15px;
  padding: 0px 12px;
}

.content-wrapper-stake-body-main-content-stat-title-content-each {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}


.content-wrapper-stake-body-main-content-stat-title-content-each-time-text {
  font-family: 'Montserrat';
  font-weight: 550;
  font-size: 18px;
  line-height: 17px;
}

.content-wrapper-stake-body-main-content-stat-title-content-each-time-percent {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  line-height: 17px;
  margin-top: 6px;
}

.content-wrapper-stake-body-main-content-stat-title-content-each-value-token {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
}

.content-wrapper-stake-body-main-content-stat-title-content-each-value-price {
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: italic;
  font-size: 16px;
  line-height: 17px;
  margin-top: 5px;
}
.content-wrapper-stake-body-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px !important;
  background-color: black;
  color: var(--primary-background-white);
  width: 185px;
  height: 48px;
  border-radius: 30px;
  margin: auto;
} 