.content-wrapper-stake{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 560px;
  height: 690px;
  background-color: var(--primary-background-white);
  border-radius: 60px;
  margin: 0px 200px 0px 150px;
}


.content-wrapper-stake-body-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 500px;
  margin: 45px auto 0px auto;
}

.content-wrapper-stake-body-main-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-size: 16px;
  width: 100%;
}
.content-wrapper-stake-body-main-title-each {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 2px 6px 2px 2px;
  width: 100%;
  color: var(--header-text-color);
}

.content-wrapper-stake-body-main-title-each-icon {
  background-color: blueviolet;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.content-wrapper-stake-body-main-title-each-token {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 13px;
  line-height: 14px;
}

.content-wrapper-stake-body-main-title-each-price {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 12px;
  line-height: 12.5px;
}

.content-wrapper-stake-body-main-title-each-arrow {
  width: 18.19px;
  height: 15.75px;
}
.content-wrapper-stake-body-main-title-each-change {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 13px;
  line-height: 14px;
}
.content-wrapper-stake-body-main-center {
  width: 504px;
  height: 160px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-wrapper-stake-body-main-center-title {
  display: flex;
  justify-content: space-between;
  width: 475px;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  line-height: 17px;

}

.content-wrapper-stake-body-main-center-body {
  display: flex;
  align-items: center;
  flex-direction: row;

  margin-top: 20px;
  width: 100%;
  height: 120px;
  border-radius: 67px;
  background-color: var(--primary-background-light);
}

.content-wrapper-stake-body-main-center-body-icon {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  background-color: var(--primary-arrow);
  margin-left: 16px;
}

.content-wrapper-stake-body-main-center-body-chain {
  font-family: 'Montserrat';
  margin-left: 25px;
  width: 175px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
  align-items: flex-start;
  padding: 5px 0px;
}

.content-wrapper-stake-body-main-center-body-chain-name {
  font-weight: 500;
  font-size: 22px;
  line-height: 17px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.content-wrapper-stake-body-main-center-body-chain-name-network {
  font-family: 'Igra Sans';
  font-weight: 400;
  font-size: 22px;
}

.content-wrapper-stake-body-main-center-body-chain-name-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrapper-stake-body-main-center-body-chain-token {
  font-weight: 300;
  font-size: 16px;
  line-height: 17px;
  font-family: 'Montserrat';
}

.content-wrapper-stake-body-main-center-body-stake {
  margin-left: 60px;
  overflow: hidden;
  height: 68px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
} 

.content-wrapper-stake-body-main-center-body-stake-amount {
  font-weight: 600;
  font-family: 'Montserrat';
  font-size: 40px;
  line-height: 17px;
}

.content-wrapper-stake-body-main-center-body-stake-dollar {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  line-height: 17px;
}

.content-wrapper-stake-body-main-content {
  padding: 0px;
  margin: 0px ;
  width: 100%;
  margin-top: 40px ;
}

.content-wrapper-stake-body-main-content-stat {
  width: 100%;

}

.content-wrapper-stake-body-main-content-stat-title {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px 0px 20px;
  width: 100%;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 300;
  line-height: 17px;
}

.content-wrapper-stake-body-main-content-stat-title-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-wrapper-stake-body-main-content-stat-title-buttons-icon {
  width: 48px;
  height: 26px;
  border-radius: 999px;
  border: 2px solid var(--primary-border);
  display: flex;
  justify-content: flex-end;
  margin: auto 5px auto 15px;
  align-items: center;
}

.content-wrapper-stake-body-main-content-stat-title-buttons-icon-ball {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--primary-arrow);
  margin: auto 3px;

}

.content-wrapper-stake-body-main-content-stat-title-content {
  margin-top: 15px;
  padding: 0px 12px;
}

.content-wrapper-stake-body-main-content-stat-title-content-each {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}


.content-wrapper-stake-body-main-content-stat-title-content-each-time-text {
  font-family: 'Montserrat';
  font-weight: 550;
  font-size: 18px;
  line-height: 17px;
}

.content-wrapper-stake-body-main-content-stat-title-content-each-time-percent {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  line-height: 17px;
  margin-top: 6px;
}

.content-wrapper-stake-body-main-content-stat-title-content-each-value {
}

.content-wrapper-stake-body-main-content-stat-title-content-each-value-token {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
}

.content-wrapper-stake-body-main-content-stat-title-content-each-value-price {
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: italic;
  font-size: 16px;
  line-height: 17px;
  margin-top: 5px;
}
.content-wrapper-stake-body-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px !important;
  background-color: black;
  color: var(--primary-background-white);
  width: 185px;
  height: 48px;
  border-radius: 30px;
  margin: auto;
} 